

/*--------------------------------*/
/*	          GENERICOS	          */
/*--------------------------------*/

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.a-link
{
	color:White;
	text-decoration: none;
}
.a-link:hover
{
	color:White;
	text-decoration: underline;
}
Select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.errorBox{
background-color:Red;
border: solid 2px White;
}
/*--------------------------------*/
/*	          HEADER	          */
/*--------------------------------*/

.table_header {
	height: 92px;
	background-image: url(../../Images/header_backg_01.gif);
	background-repeat: repeat-x;
}
.header_name_administracion-intranet {
	/*background-image: url(../../Images/header_administracion-intranet.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;*/
	height: 68px;
	width: 230px;
	text-align: right;
	vertical-align: top;
}
.header_user_name {
	padding:0px !important;
	padding-left:47px !important;
	padding-top:5px !important;
	background-image: url(../../Images/user_icon.jpg) !important;
	background-repeat: no-repeat !important;
	background-position: 22px 10px !important;
	height:24px !important;
	white-space: nowrap;
	vertical-align: middle;
	color: #FFFFFF;
	font-size:10px !important;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
}
.header_filter_title 
{
	/*
	padding:0px !important;
	padding-left:47px !important;
	padding-top:5px !important;
	background-image: url(../../Images/user_icon.jpg) !important;
	background-repeat: no-repeat !important;
	background-position: 22px 10px !important;*/
	/*height:24px !important;*/
	white-space: nowrap;
	text-align: left;
	color: #FFFFFF;
	font-size:10px !important;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
}
.header_filter_content 
{
	/*
	padding:0px !important;
	padding-left:47px !important;
	padding-top:5px !important;
	background-image: url(../../Images/user_icon.jpg) !important;
	background-repeat: no-repeat !important;
	background-position: 22px 10px !important;*/
	height:24px !important;
	white-space: nowrap;
	vertical-align: middle;
	color: #FFFFFF;
	font-size:10px !important;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
}
.header_exit 
{
	background-image: url(../../Images/header/logoff.gif);
	background-repeat: no-repeat;
	background-position: 0px 10px;
	height: 25px;
	width: 70px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-bottom: 2px;
} 
.header_exit a
{
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
	padding-left: 16px;
	padding-right: 5px;
	display: block;
}
.header_exit a:hover
{
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
	color: #FFFFFF;	
	padding-left: 16px;
	display: block;
}
.header_home 
{
	background-image: url(../../Images/header/home_grey.gif);
	background-repeat: no-repeat;
	background-position: 0px 10px;
	height: 25px;
	width: 62px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-bottom: 2px;
} 
.header_home a
{
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
	padding-left: 16px;
	display: block;
}
.header_home a:hover
{
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
	padding-left: 16px;
	display: block;
	color: #FFFFFF;	
}
.header_date {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: right;
	padding-right: 10px;
	height: 24px;
	padding-bottom: 1px;
}

.home_breadcrumb 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-bottom: 2px;
	padding-left:10px;
	height:24px;
	vertical-align:middle;
}

.comboStyle
{
	background-color: #555555;
	background: #555555;
	color: #ffffff;
}

/*--------------------------------*/
/*		   MENU IZQUIERDO		  */
/*--------------------------------*/



.table_menu {
	width: 184px;
	background-color: #E7E7E7;
}
.table_menu_level01 {
}
.table_menu_general {
}

.table_menu_level01 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #00377a;
	font-weight: bold;
	text-decoration: none;
	padding-left: 20px;
}

.table_menu_level01 a:hover{
	color: red;
	text-decoration: underline;
}
.table_menu_level01_selected {
	color: #f26522 !important
}


.table_menu_level02 {
	border-top-width: 1px;
	border-top-color: #a5a4a4;
	border-top-style: solid;
	background-color: #FFFFFF;
}
.table_menu_level02_collapse {
	border-top-width: 1px;
	border-top-color: #a5a4a4;
	border-top-style: solid;
	background-color: #FFFFFF;
	display: none;
}

.table_frame {
	background-image: url(../../Images/backg_frame.gif);
	background-position: right;
	height: 100%;
	width: 202px;
}
.contenedor_menu {
}


.table_menu_level02 td{
	height: 20px;
}


.table_menu_level02 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #00377a;
	font-weight: normal;
	text-decoration: none;
	padding-left: 30px;
	background-image: url(../../Images/bullet_item_level02.gif);
	background-repeat: no-repeat;
	background-position: 20px 5px;
}

.table_menu_level02 a:hover {
	color: #00377a;
	font-weight: normal;
	text-decoration: underline;
	
}


.table_menu_level02_selected {color: #f26521 !important}

.item_level01 {
	background-image: url(../../Images/backg_item_level01.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 21px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #a5a4a4;
	border-right-color: #a5a4a4;
	border-bottom-color: #a5a4a4;
	border-left-color: #a5a4a4;

}

.menu_left {
	background-image: url(../../Images/img_menu_left.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 4px;
}
.menu_right {
	background-image: url(../../Images/img_menu_right.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 4px;
}
.item_level01_first {
	background-image: url(../../Images/backg_item_level01.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 21px;
	border-top-width: 1px;
	border-top-color: #a5a4a4;
	border-right-color: #a5a4a4;
	border-bottom-color: #a5a4a4;
	border-left-color: #a5a4a4;
	padding-bottom: 1px;
}
.menu_collapsed {
	vertical-align: middle;
}
.menu_expanded {
	vertical-align: middle;
}
.left_space {
	width: 0 !important;
	margin:0 !important;
	padding:0  !important;
}
.right_space {
	width: 0 !important;
	margin:0 !important;
	padding:0  !important;
}

.menuItems {
font-family: Verdana, Arial, Helvetica, sans-serif;
padding-bottom:8px;
padding-left:10px;
padding-right:11px;
_margin-left:10px;
}

.menuItem1 {
margin:0 !important;
padding:0 !important;
height:24px;
width:140px;
font-size:10px;
color:#000000 !important;
border:1px solid #bdbcbd;
border-top:none !important;
background-color:#2486CD !important;
}

.menuItem1 a {
display:block;
background-image:url(../../Images/buttons_bg.jpg) !important;
color:#000000 !important;
line-height:24px;
font-weight:bold;
border-bottom:1px solid #bdbcbd;
margin:0 !important;
padding:0 !important;
padding-left:5px !important;
}

.menuItem1hover a {
display:block !important;
text-decoration:underline !important;
}

.menuItem1selected a {
background-color:#2486CD !important;
}

.level2,.level3 {
margin-left:-2px;
margin:0 !important;
display:block !important;
width:100px !important;
height:26px;
height:24px;
line-height:23px;
font-family: Arial, Verdana, Helvetica, sans-serif !important;
font-size:13px !important;
color:#000000 !important;
border:1px solid #bdbcbd;
border-top:none !important;
background-color:#2486CD !important;
background-image:url(../../Images/buttons_bg.jpg) !important;
font-weight:bold;
border-bottom:1px solid #bdbcbd;
}

.level2 a,.level3 a {
margin:0 !important;
padding:0 !important;
background:none !important;
font-size:11px !important;
font-size:10px\9 !important;
font-family: Arial, Verdana, Helvetica, sans-serif !important;
font-weight:bold !important;
padding-left:5px !important;
}

.level2 a:hover,.level3 a:hover  {
display:block !important;
text-decoration:underline !important;
}

/*--------------------------------*/
/*	          CONTENIDO	          */
/*--------------------------------*/

.table_main {
	height: 100%;
	width: 100%;
}
.table_menuAndContent {
	height: 100%;
	_margin-top:-4px;
}
.table_Content {
	height: 100%;
}
.table_page {
	border: 1px solid #aeafb1;
}
.table_form {
}
.page_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #f26522;
	background-image: url(../../Images/title_backg.gif);
	height: 23px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b3b3b3;
	padding-left: 15px;
	padding-top: 1px;
}

.page_subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #f26522;
	background-image: url(../../Images/title_backg.gif);
	height: 23px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b3b3b3;
	padding-left: 15px;
	padding-top: 1px;
}

.breadcrumb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.breadcrumb a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #00377b;
	text-decoration: none;
}
.breadcrumb a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #00377a;
	text-decoration: underline;
}
.form_label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	vertical-align: top;
	width: 30%;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.form_data {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.form_data_required {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	background-image: url(../../Images/icon_obligatory.gif);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}

.text_required {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	height: 20px;
	vertical-align: middle;
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;
}

.line {
	border-top-color: #aeafb1;
	border-right-color: #aeafb1;
	border-bottom-color: #aeafb1;
	border-left-color: #aeafb1;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.borde {
	border: 1px solid #AEAFB1;
}
.line_space {
	width: 10px;
}

.form_50px {
	width: 50px;
}

.form_150px {
	width: 150px;
}
.form_300px {
	width: 300px;
}
.text_info {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #666666;
	background-image: url(../../Images/icon_information.gif);
	background-position: 10px 13px;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.table_button {
	text-align: right;
	padding-right: 15px;
}
.cell_button_115px {
	width: 117px;
	padding-right: 10px;
}
.cell_button_separator {
	width: 10px;
}


.button_115px {
	background-image: url(../../Images/btn_115px.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 23px;
	width: 117px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #00377b;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-color: #FFFFFF;
}
.cell_icon {
	text-align: left;
	vertical-align: middle;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
}




/*--------------------------------*/
/*	          FOOTER	          */
/*--------------------------------*/
.table_footer {
	/*height: 40px;*/
}
.footer_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	padding-left: 10px;
}




.footer_dotline {
	background-image: url(../../Images/line_dotted.gif);
	background-repeat: repeat-x;
	background-position: 10px;
}


/**/
*{
padding:0;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-right:0px;
}

html {
height:100% !important;
}

body {
background-color:#555555;
/*
background-image:url(../../Images/header_tr_bg.jpg) !important;
background-repeat:repeat-x;
*/
height:100% !important;
}

.table_main {
height: 100% !important;
width: 100%!important;
}

.table_header {
height:164px !important;
background-image:url(../../Images/header_td_bg.jpg) !important;
background-repeat:no-repeat !important;
}

.headers_buttons{
width:180px;
}

.headers_buttons td {
text-align:center;
height:12px;
}

.headers_buttons  a{
padding:0 3px 0 3px;
margin:0;
text-decoration:underline;
}

.headers_buttons  a:hover{
background-color:#FFFFFF;
color:#3777BF;
text-decoration:none;
}



.header_top {
height:140px !important;
}

.header_bottom_data {
height:24px !important;
}



.header_help {
padding:0px !important;
border-right:1px solid #FFFFFF;
}

.table_menuAndContent {
background-color:#555555 !important;
height:617px !important;
min-height:617px !important;
}

.table_Content {
border-top:1px solid #555555 !important;
background-color:#555555 !important;
}

.menuITS {
background-image:url(../../Images/menu_td_bg.jpg) !important;
background-repeat:repeat-y !important;
background-color:#68a3e4 !important;
width:222px !important;
margin:0 !important;
padding:0 !important;
}

.boxcontent {
background-color:#555555 !important;
padding:0;
margin:0;
}

.breadcrumb {
height:35px !important;
padding:0px\9;
color:#FFFFFF;
}

input {
/*border:1px solid #000000; Edgardo*/
padding:3px;
}

#menuITS {
}

.menuItems {
width:218px !important;
padding:0 !important;
margin:0 !important;
background-image:url(../../Images/menu_table_bg.jpg) !important;
background-repeat:repeat-x !important;
background-color:#4989d0 !important;
margin-top:-1px\9 !important;
}

.menuItem1 {
margin:0 !important;
padding:0 !important;
height:36px !important;
line-height:36px;
width:218px !important;
font-size:12px !important;
color:#FFFFFF !important;
background-image:url(../../Images/button_bg.jpg) !important;
background-repeat:repeat-x !important;
background-color:#042950 !important;
border:none !important;
border-bottom:1px solid #4586cc !important;
}

.menuItem1 a {
display:block !important;
margin:0 !important;
padding:0 !important;
height:36px !important;
line-height:36px;
width:170px !important;
padding-left:48px !important;
font-size:12px !important;
color:#FFFFFF !important;
background:none !important;
background-image:url(../../Images/button_plus_icon.gif) !important;
background-repeat:no-repeat !important;
background-position:24px 12px !important;
border:none !important;
}

.menuItem1hover a {
display:block !important;
text-decoration:underline !important;
}

.menuItem1selected a {
background-image:url(../../Images/button_minus_icon.gif) !important;
}

.level2,.level3 {
margin-left:-2px;
margin:0\9 !important;
display:block !important;
width:100px !important;
height:26px;
height:24px\9;
line-height:23px;
font-family: Arial, Verdana, Helvetica, sans-serif !important;
font-size:13px !important;
color:#000000 !important;
border:1px solid #bdbcbd;
border-top:none !important;
background-color:#2486CD !important;
background-image:url(../../Images/buttons_bg.jpg) !important;
font-weight:bold;
border-bottom:1px solid #bdbcbd;
}

.level2 a,.level3 a {
margin:0 !important;
padding:0 !important;
background:none !important;
font-size:11px !important;
font-size:10px\9 !important;
font-family: Arial, Verdana, Helvetica, sans-serif !important;
font-weight:bold !important;
padding-left:5px !important;
}

.level2 a:hover,.level3 a:hover  {
display:block !important;
text-decoration:underline !important;
}

.table_page {
width:793px;
margin:3px 2px;
border:3px solid #b4b4b4;
background-color:#f8f8f8;
}

.page_title {
	background-image:none !important;
	color:#000000;
	font-size:14px;
	height:30px;
	border-bottom:none;
}
.page_subtitle {
	background-image:none !important;
	border-bottom:none;
	background-color:#2486cd;
	color:#FFFFFF;
	line-height:23px;
}



.languages {
margin-top:3px;
margin-right:1px;
padding:0 !important;
}

.languages td {
border-right:1px solid #FFFFFF;
}

.languages a {
font-family: Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:10px;
padding:0 5px;
}

.languages a:hover {
color:#0c4a77;
}

.noborder {
border:none !important;
}

.table_data {
background-color:#555555;
border-bottom:1px solid #FFFFFF;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.table_header_data {
height:37px;
background-image:url(../../Images/title_bg.jpg);
font-size:12px;
color:#FFFFFF;
font-weight:bold;
}


.printLink {
display:block;
width:90px;
height:22px;
background-image: url(../../Images/print_bg.jpg);
background-repeat:no-repeat;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
padding-right:20px;
margin-right:20px;
border-style:none;
vertical-align:text-top;
/*line-height:18px;*/
}

.IDCOL
{
	display:none;
}

.printLink:hover {
text-decoration:underline;
}

.table_content_data {
padding:8px 6px;
}
.table_info_data {
color:#000000;
font-size:10px;
font-family:Arial, Verdana, Helvetica, sans-serif;	
font-weight:normal;
padding:7px;
height:15px;
}
.table_info_data{
/*border:4px solid #FFFFFF;*/
background-color:#dbdbdb;
}

.selectedrow{
/*border:4px solid #FFFFFF;*/
background-color:#80BFFF;
}

.table_info_data tr:hover
{ 
background-color:#80BFFF;
}

.table_info_data_over td{
background-color:#2c81e0;
}
.table_info_data_alternate{
/*border:4px solid #FFFFFF;*/
background-color:#ebebeb;
}
.table_info_data_alternate_over td{
background-color:#2c81e0;
}


.table_info_data_selected td {
font-weight:bold;
background-color: #bbd8f3;
color: #14467e;
}
.table_info_data_edit td {
font-weight:bold;
color: #999999;
}

/*grid-header*/

.table_info_title_data th {
padding: 2px 2px 2px 2px;
margin-left: 2px;
border-right: solid 1px #18579e;
border-bottom: solid 1px #18579e;
border-left: solid 1px #428de2;
border-top: solid 1px #428de2;
}

.table_info_title_data th  {
background-color:#195ca5;
color:#FFFFFF;
font-size:10px;
font-weight:bold;
height:20px;
font-variant:small-caps;
}

.table_info_title_data  a {
color:#ffffff!important;
padding:0 2px;
text-decoration:underline;
}

.table_info_title_data  a:hover {text-decoration:none;}

.table_info_footer_data td {
background-color:#FFFFFF;
color:#000000;
font-size:16px;
font-weight:bold;
height:20px;
margin-left: 30px;
}

.table_info_footer_data span 
{
	/*behavior: url(border-radius.htc);*/
background-color:#80BFFF;

  /*-webkit-border-radius: 10px; */
}

.selectedrow{
/*border:4px solid #FFFFFF;*/
background-color:#80BFFF;
}
/*--------------------------------*/
/*Modal PopUp*/
/*--------------------------------*/
.popUpTitle
{
	background-image:url(../../Images/popup_title_background.jpg) !important;
	background-repeat:repeat-x;
	height:32px;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	/*font-variant:small-caps;*/
	vertical-align: middle;
	cursor:move;
}
.popUpTitle td
{
	margin-left: 20px;
	vertical-align: middle;
}
.BackgroundModalPopUp
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.BoxModalPopUp
{
	background-color:White;
    width: 600px;
    height: 100%;
}


.ModalPopUp
{
	background-color:White;
}

.modalBackgroundUpdateProgress 
{ 
    background-color: Gray; 
    filter: alpha(opacity=50); 
    opacity: 0.50; 
} 
 
.updateProgress 
{ 
    border-width: 1px; 
    border-style: solid; 
    background-color: #FFFFFF; 
    position: absolute; 
    width: 180px; 
    height: 65px; 
}

.table_boxform {
background-color:#555555;
color:#FFFFFF;
font-size:12px;
font-family:Arial, Verdana, Helvetica, sans-serif;
text-align:left;
}

.table_form {
border:3px solid #FFFFFF;
background-color:#195ca5;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
font-family:Arial, Verdana, Helvetica, sans-serif;
text-align:left;
padding:5px;
margin:	10px;
}

.table_form .label_form label{
text-align:right;
margin-right:13px;
height:20px;
line-height:20px;
}

.table_form .input_form input{
color:#000000;
padding:2px 5px;
height:18px;
width:254px;
line-height:18px;
border:none;
margin:5px 0;
}

.table_form .input_form textarea {
color:#000000;
padding:2px;
width:259px;
font-size:12px;
font-family:Arial, Verdana, Helvetica, sans-serif;
text-align:left;
height:100px;
overflow:auto;
border:none;
margin:5px 0;
}

.button {
margin-left:8px;
height:24px;
width:118px;
line-height:18px;
_line-height:12px;
background-color:#5491d4 !important;
background-image:url(../../Images/form_button_bg.gif) !important;
background-position:center middle;
background-repeat:repeat-x !important;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
font-family:Arial, Verdana, Helvetica, sans-serif;
text-align:center;
margin:4px;
border:1px solid #FFFFFF;
text-transform:capitalize;
}
.buttonCustomSize {
background-color:#5491d4 !important;
background-image:url(../../Images/form_button_bg.gif) !important;
background-position:center middle;
background-repeat:repeat-x !important;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
font-family:Arial, Verdana, Helvetica, sans-serif;
border:1px solid #FFFFFF;
padding-bottom:10px;
height:22px;
}



.table_form .button_form {
}

.table_form .button_form input {
margin-left:8px;
width:118px;
line-height:18px;
_line-height:12px;
background-color:#5491d4 !important;
background-image:url('../../Images/form_button_bg.gif') !important;
background-repeat:repeat-x !important;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
font-family:Arial, Verdana, Helvetica, sans-serif;
text-align:center;
margin:4px;
border:1px solid #FFFFFF;
text-transform:capitalize;
}

.table_form .button_form input:hover {
background-color:#105197 !important;
background-image:url(../../Images/form_button_bg_hover.gif) !important;
}


-- 

/*styles combo*/

.table_form .combo_form select {
color:#000000;
height:22px;
width:263px;
line-height:22px;
border:none !important;
margin:5px 0;
padding:2px 5px;
padding:4px 5px\9;
}

.opblue {
border:none;
color:#000000;
padding:2px 5px;
padding-top:5px;
padding:4px 5px\9;
height:18px;
width:224px;
line-height:22px;
border:none;
background:#FFFFFF;
}

.table_form  option {
/* color:#FFFFFF;
background-color:#68a3e4; */
color: #000000;
background-color:#FFFFFF;
}
.combo
{
	vertical-align: text-bottom;
	width: 110px;
}
/**/


/**/

.edit_icon {
display:block;
width:27px;
height:27px;
background-image:url(../../Images/edit_icon_link.jpg) !important;
font-size:0;
color:#555555;
}

.edit_icon:hover {
background-image:url(../../Images/edit_icon_over.jpg) !important;
color:#3677be;
}

.edit_disabled {
display:block;
width:27px;
height:27px;
background-image:url(../../Images/edit_icon_disabled.jpg) !important;
font-size:0;
color:#ededed;
}

.edit_2_icon {
display:block;
width:27px;
height:27px;
/*background-image:url(../../Images/edit_2_icon_link.jpg) !important;*/
background-image:url(../../Images/edit_icon2.g.gif) !important;
font-size:0;
color:#555555;
}

.edit_2_icon:hover 
{
background-image:url(../../Images/edit_icon2.g.gif) !important;
color:#3677be;
}

.edit_2_disabled {
display:block;
width:27px;
height:27px;
background-image:url(../../Images/edit_2_icon_disabled.jpg) !important;
font-size:0;
color:#ededed;
}

.menu_level1 
{
color:#FFFFFF;
font-size:11px;
font-weight:bold;
font-family:Arial, Verdana, Helvetica, sans-serif;
}


.clear_icon {
display:block;
width:27px;
height:27px;
background-image:url(../../Images/clear_icon.jpg) !important;
font-size:0;
color:#555555;
}

.clear_icon:hover {
background-image:url(../../Images/clear_icon_over.jpg) !important;
color:#3677be;
}

.clear_disabled {
display:block;
width:27px;
height:27px;
background-image:url(../../Images/clear_icon_disabled.jpg) !important;
font-size:0;
color:#ededed;
}

.td_table_title_no_title        
 {
	width: 33%;
 }
 
 .td_table_title_title        
 {
	width: 34%;
 }
.combos
{
	background-color: #555555;
	color:#FFFFFF;
	background: #555555;
}

.grdTasksCol-hidden
{
	display:none;
}
 
.working {
	color: #000000!important;
	font-weight: bold;
	font-size:12px;
	font-family:Arial, Verdana, Helvetica, sans-serif;	
	padding: 2px 0 0 2px;
}

.working_spacer 
{
	font-size:8px;
	font-family:Arial, Verdana, Helvetica, sans-serif;	
	padding: 2px 0 0 2px;
}

#workBox
{
	float: left;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 450px;
	top: 350px;	
}

.printLink2 {
width:90px;
height:22px;
text-decoration:none;
margin-top:0px;
padding-top:0px;
}

/* Menu */

.bg {background: url(images/button4a.gif);}
.menu {padding:0 0 0 32px; margin:0; list-style:none; height:40px; background:#fff url(../../Images/title_bg.jpg) repeat-x; position:relative; font-family:arial, verdana, sans-serif; }
.menu li.top {display:block; float:left; position:relative;}
.menu li a.top_link {display:block; float:left; height:40px; line-height:33px; color:#FFF; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;}
.menu li a.top_link span {float:left; font-weight:bold; display:block; padding:0 24px 0 12px; height:40px;}
.menu li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:40px; background:url(../../Images/down.gif) no-repeat right top;}
.menu li a.top_link:hover {color:#000; background: url(../../Images/button4a.gif) no-repeat;}
.menu li a.top_link:hover span {background:url(../../Images/button4a.gif) no-repeat right top;}
.menu li a.top_link:hover span.down {background:url(../../Images/button4a.gif) no-repeat right top;}

.menu li:hover > a.top_link {color:#000; background: url(../../Images/button4a.gif) no-repeat;}
.menu li:hover > a.top_link span {background:url(../../Images/button4a.gif) no-repeat right top;}
.menu li:hover > a.top_link span.down {background:url(../../Images/button4a.gif) no-repeat right top;}

.menu table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

.menu a:hover {visibility:visible;}
.menu li:hover {position:relative; z-index:200;}

.menu ul, 
.menu li:hover ul ul, 
.menu li:hover ul :hover ul ul,
.menu li:hover ul :hover ul :hover ul ul,
.menu li:hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.menu li:hover ul.sub {left:2px; top:40px; right:2px; background: #fff; padding:3px 0; border:1px solid #999999; white-space:nowrap; width:200px;height:auto; max-height: 200px;overflow-y: auto;overflow-x: hidden; }
.menu li:hover ul.sub li {display:block; height:20px; position:relative; float:left; width:250px;}
.menu li:hover ul.sub li a {font-weight:normal;display:block; font-size:11px; height:20px; width:192px; line-height:20px; text-indent:5px; color:#000; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}
.menu li:hover ul.sub li a.fly {background:#fff url(../../Images/arrow.gif) 80px 7px no-repeat;}
.menu li:hover ul.sub li a:hover {background:#999999; color:#fff;}
.menu li:hover ul.sub li a.fly:hover {background:#999999 url(../../Images/arrow_over.gif) 80px 7px no-repeat; color:#fff;}
.menu li:hover ul li:hover > a.fly {background:#999999 url(../../Images/arrow_over.gif) 80px 7px no-repeat; color:#fff;} 

.menu li:hover ul :hover ul,
.menu li:hover ul :hover ul :hover ul,
.menu li:hover ul :hover ul :hover ul :hover ul,
.menu li:hover ul :hover ul :hover ul :hover ul :hover ul
{left:90px; top:-4px; background: #fff; padding:3px 0; border:1px solid 999999; white-space:nowrap; width:93px; z-index:200; height:auto;}


.detailbox
{
	border : solid 1px #FFF;
}

.errorinput
{
	background-color: #f08080;
	background: #f08080;
}

.errorinput option
{
	background-color: #f08080;
	background: #f08080;
}


/* tooltip */
#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}

/*Event Box*/
.event_box {
border:2px solid #FFF;
background-color:#195ca5;
color:#FFF;
font-size:12px;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-weight:bold;
text-align:left;
padding:0px;
margin:	10px;
width:1050px;
}

.event_box .section
{
width:500px;
}

.event_box tr
{
	height:30px;
}

/* New Clear Box Stye*/
.clear_box {
border:2px solid #FFF;
background-color:#195ca5;
color:#FFF;
font-size:12px;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-weight:bold;
text-align:left;
padding:0px;
margin:	10px;
width:440px;
}

.section
{
padding: 0px;
margin:	5px;
text-align:left;
}

.section select
{
height:25px;
vertical-align:middle;
}

.button_clear {
margin-left:8px;
width:118px;
line-height:18px;
_line-height:12px;
background-color:#5491d4 !important;
background-image:url('../../Images/form_button_bg.gif') !important;
background-repeat:repeat-x !important;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
font-family:Arial, Verdana, Helvetica, sans-serif;
text-align:center;
margin:4px;
border:1px solid #FFFFFF;
text-transform:capitalize;
cursor:pointer;
}

.clearbox_title
{
	background-image:url(../../Images/popup_title_background.jpg) !important;
	background-repeat:repeat-x;
	height:32px;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	/*font-variant:small-caps;*/
	vertical-align: middle;
	text-align:center;
	cursor: pointer;
}

.clearbox_subtitle
{
	border-bottom: solid 1px #FFF;
	margin-left:10px;
	width:90%;
	font-size: 17px;
}